<h1>Contact</h1>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Name" aria-label="Name">
  <span class="input-group-text">@</span>
  <input type="text" class="form-control" placeholder="Email" aria-label="Email">
</div>

<div class="input-group">
  <span class="input-group-text">Message</span>
  <textarea class="form-control" aria-label="Message" placeholder="Message here"></textarea>
</div>
<div id="liveAlertPlaceholder"></div>
<button type="button" class="btn btn-primary" id="liveAlertBtn">Submit</button>
<script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    const appendAlert = (message, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
        alertTrigger.addEventListener('click', () => {
            appendAlert('Thank you for your message, we will contact you soon.', 'success')
        })
    }
</script>